@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3 {
  font-family: "Yana", serif;
}

p, button {
  font-family: "Interstate", sans-serif;
  cursor: pointer ;
}

a, button {
  pointer-events: auto !important;
  cursor: pointer ;
}
body, html {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto;
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

body {
  position: relative;
  overflow-x: hidden !important;
  color: white;
  max-width: 100vw;
  height: 100%;
  background: #000;
  border-color: #3b3b3b;
  display: flex;
  flex-direction: column;
  max-height: 400vh;
}

footer {
  position: sticky;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: gold;
  text-align: center;
  padding: 1rem;
  z-index: 10;
}

.slick-arrow {
  width: 100px;
  height: 100px;
  z-index: 100;
}

.interactive-element {
  z-index: 50;
}

.screen-max-width {
  margin-inline-start: auto;
  overflow-x: hidden;
  margin-inline-end: auto;
  position: relative;
  max-width: 100vw;
}

.home-container{
  height: 600vh;
  min-height: 600vh;
  overflow-y: hidden;
}

@font-face {
  font-family: "Interstate";
  src: url("/fonts/Interstate/InterstateRegular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Interstate";
  src: url("/fonts/Interstate/InterstateBold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Interstate";
  src: url("/fonts/Interstate/InterstateBlack.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "yana", sans-serif;
  font-weight: 400;
  font-style: normal;
  unicode-range: U+0000-00FF, U+0100-017F; /* Latin + Latin étendu */
}

@font-face {
  font-family: "yana", sans-serif;
  font-weight: 700;
  font-style: normal;
  unicode-range: U+0000-00FF, U+0100-017F; /* Latin + Latin étendu */
}

.btn-animated {
  @apply relative inline-block py-4 px-6 pt-5 font-yana text-gold 2xl:text-4xl xl:text-xl sm:text-sm text-center transition-all duration-300;

  /* Ajout du gradient doré sur le texte */
  background-image: linear-gradient(to right, #B07C41, #FCCF87);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent; /* Rend le texte transparent pour laisser voir le gradient */
}

.btn-animated::before,
.btn-animated::after {
  content: "";
  position: absolute;
  width: 100%; /* Largeur ajustée */
  height: 2px; /* Épaisseur des barres */
  background-image: linear-gradient(to right, #B07C41, #FCCF87);
  left: 50%;
  transform: translateX(-50%);
  pointer-events: none; /* Empêche le blocage des interactions */
}

.btn-animated::before {
  top: 0; /* Barre en haut */
}

.btn-animated::after {
  bottom: 0; /* Barre en bas */
}

.btn-animated::after,
.btn-animated::before {
  transition: transform 0.3s ease-in-out;
}

.btn-animated:hover::before {
  transform: translateX(-50%) scaleX(0.8); /* Effet d'agrandissement de la barre */
}

.btn-animated:hover::after {
  transform: translateX(-50%) scaleX(0.8);
}

/* Jungle Background */
.jungle-section {
  position: relative;
  z-index: 20; /* Arrière-plan */
}

#canvas-container {
  inset: 0;
  z-index: 10; /* Canvas entre les couches */
}

@media (max-width: 1100px) {
  body {
    overflow-x: hidden;
  }
}

.btn-filter-container {
  @apply flex gap-4 p-2 w-full overflow-x-auto bg-gray-900 rounded-lg;
}

.btn-filter {
  @apply py-2 px-4 text-black text-sm rounded-lg font-yana transition-all duration-200 ease-in-out shadow-md cursor-pointer;
}

.btn-filter:hover {
  @apply scale-105 shadow-lg;
}

.btn-filter.active {
  @apply bg-black text-gold border border-gold scale-110;
}


.btn-filter.active::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid rgba(212, 175, 55, 0.7);
  border-radius: 8px;
  animation: pulse 1.5s infinite ease-in-out;
  pointer-events: none; /* Empêche le blocage des interactions */
}
.cocktail-page {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  overflow: hidden; /* 🚀 Empêche les glitchs */
}


.cocktail-card {
  display: flex;
  flex-direction: column; /* Empile les enfants */
  align-items: center;    /* Centre horizontalement */
  justify-content: flex-end; /* Aligne tous les enfants en bas */
  text-align: start;     /* Centre le texte */
  height: 100%;           /* S'assure que la carte utilise toute la hauteur disponible */
}

.cocktail-card h2 {
  margin-bottom: 2px; /* Ajoute un peu d'espace avec le texte ou les éléments suivants */
}

.cocktail-card p {
  margin-bottom: 0;
}

.cocktail-image {
  width: auto;
  height: 200px; /* Vous pouvez ajuster cette hauteur */
  object-fit: contain; /* Assure que l'image s'adapte sans être coupée */
  animation: pulse 1.5s infinite ease-in-out;

}


@keyframes pulse {
  0%, 100% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.1);
    opacity: 0.8;
  }
}

.timeline-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.arrow-icon {
  animation: bounce 1s infinite; /* Effet de rebond */
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.text-gold {
  background: linear-gradient(to right, #B07C41, #FCCF87);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  will-change: transform;
  transition: transform 0,2s ease-in-out;
}

.bg-gold-linear {
  background: linear-gradient(to right, #B07C41, #FCCF87);
}

.bg-gold-linear:hover {
  background: linear-gradient(to right, #FCCF87, #B07C41);

}
.hover-black-bg {
  background-color: transparent; /* Fond initial */
  transition: background-color 0.3s ease-in-out; /* Transition fluide */
}

.hover-black-bg:hover {
  background-color: black; /* Fond noir au survol */
}

.text-gold:hover {
  background: linear-gradient(to right, #FCCF87, #B07C41);
  -webkit-background-clip: text;
}

.text-gold[data-scroll] {
  transform: translateY(var(--scroll-offset, 0px));
}

.hover\:text-gold:hover {
  color: #d4af37;
}

.text-gold-hover-bg-black {
  position: relative;
  display: inline-block;
  background: linear-gradient(to right, #B07C41, #FCCF87);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: background-color 0.3s ease-in-out;
}

.text-gold-hover-bg-black::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: -1; /* Permet de mettre le fond derrière le texte */
  transition: background-color 0.3s ease-in-out;
}

.text-gold-hover-bg-black:hover::before {
  background-color: black; /* Fond noir au survol */
}

.text-gold-hover-bg-black:hover {
  -webkit-text-fill-color: transparent; /* Le texte reste doré */
}
.loading-curtain {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 70 !important;
  height: 100%;
  background-color: black; /* Couleur de fond */
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading-bar {
  width: 80%;
  height: 8px;
  background: #222;
  border-radius: 4px;
  overflow: hidden;
}

.loading-bar-inner {
  height: 100%;
  background: linear-gradient(to right, #ffd700, #ffec8b);
  transition: width 0.3s;
}

canvas {
  opacity: 1 !important;
  visibility: visible !important;
  display: block !important;
}

