@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: white;
  width: 100vw;
  height: 100%;
  background: #000;
  border-color: #3b3b3b;

}
#smooth-wrapper {
  height: 100%;
  overflow: hidden;
}

#smooth-content {
  position: relative;
  will-change: transform;
}

.slick-arrow {
  width: 100px;
  height: 100px;
  z-index: 100;
}

.interactive-element {
  z-index: 50;
  pointer-events: auto;
}

.screen-max-width {
  margin-inline-start: auto;
  overflow: hidden;
  margin-inline-end: auto;
  position: relative;
  max-width: 1920px;
}


@font-face {
  font-family: "Interstate";
  src: url("./fonts/Interstate/InterstateRegular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Interstate";
  src: url("./fonts/Interstate/InterstateBold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Interstate";
  src: url("./fonts/Interstate/InterstateBlack.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Yana";
  src: url("./fonts/Yana/yana-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Yana";
  src: url("./fonts/Yana/yana-bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

.btn-animated {
  @apply relative inline-block py-4 px-6 pt-5 font-yana text-gold text-2xl text-center overflow-hidden transition-all duration-300;

  /* Ajout du gradient doré sur le texte */
  background-image: linear-gradient(to right, #FFD700, #FFEC8B, #FFD700);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent; /* Rend le texte transparent pour laisser voir le gradient */
}

.btn-animated::before,
.btn-animated::after {
  content: "";
  position: absolute;
  width: 80%; /* Largeur ajustée */
  height: 2px; /* Épaisseur des barres */
  background-color: rgb(255, 231, 92); /* Couleur dorée */
  left: 50%;
  transform: translateX(-50%);
}

.btn-animated::before {
  top: 0; /* Barre en haut */
}

.btn-animated::after {
  bottom: 0; /* Barre en bas */
}

.btn-animated::after,
.btn-animated::before {
  transition: transform 0.3s ease-in-out;
}

.btn-animated:hover::before {
  transform: translateX(-50%) scaleX(1.2); /* Effet d'agrandissement de la barre */
}

.btn-animated:hover::after {
  transform: translateX(-50%) scaleX(1.2);
}

/* Ajout de l'effet brillant avec un pseudo-élément supplémentaire */
.btn-animated::after {
  bottom: 0;
}

.btn-animated::before {
  top: 0;
}

.btn-animated::after {
  bottom: 0;
}

.btn-animated::before {
  top: 0;
}

.jungle-layer {
  position: absolute;
  pointer-events: none;
}

.layer-ciel {
  z-index: 10;
}

.layer-dodo {
  z-index: 15;
}

.layer-feuilleGauche {
  z-index: 30;
}

.layer-feuilleGauche2 {
  z-index: 30;
}

.layer-feuilledroite {
  z-index: 30;
}

.layer-feuilledroite2 {
  z-index: 30;
}

/* Jungle Background */
.jungle-section {
  position: relative;
  z-index: 20; /* Arrière-plan */
  overflow: hidden;
}

#canvas-container {
  inset: 0;
  z-index: 10; /* Canvas entre les couches */
  pointer-events: none; /* Désactive les interactions du canvas */
}